.message-list-container {
  padding: 10px;
  padding-bottom: 70px;
}

.message-right-item {
  color: #007aff;
  padding-left: 30px;
  cursor: pointer;
  transform: scale(1.4);
  padding-right: 10px;
}

.message-right-item:hover{
  color: #0055b1;
}

.message-upload-input{
  display: none
}