.Loading-box{
  position: relative;
  width: auto;
  height: 800px;
  overflow: hidden;
}

.Loading-element{
  margin-top: auto;
  margin-left: auto;
  position: absolute;
  left: 46%;
  top: 50%;
  width: 100px !important;
  height: 100px !important;
}