.LAR-root {
    overflow: initial;
    height: auto;
    width: auto;
}

.LAR-header {
    box-sizing: border-box;
    padding: 0 60px;
    height: 100px;
    position: relative;
}

.LAR-icon-header {
    max-width: 40px;
}

.LAR-header-right-ul1 {
    list-style-type: none;
}

.LAR-header-right-li1 {
    display: inline-block;
    visibility: middle;
}

.LAR-sub-header {
    display: flex;
    position: relative;
    max-width: 1100px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    overflow: auto;
}

.LAR-header-right-li1-link {
    margin: 0 15px;
    line-height: 50px;
}

a.LAR-header-right-li1-link {
    text-decoration: none;
}

.LAR-content {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.LAR-content-2 {
    max-width: 1100px;
    display: flex;
    justify-content: inherit;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.LAR-content-left {
    justify-content: flex-start;
    width: 50%;
}

.LAR-content-right {
    width: 50%;
}

.LAR-content-left-slogan {
    width: 440px;
    display: block;
    padding: 15px 0 10px;
}

.LAR-content-left-slogan-h1 {
    background-image: linear-gradient(83.84deg, #0088FF -6.87%, #A033FF 26.54%, #FF5C87 58.58%);
    text-align: left;
    font-size: 90px;
    letter-spacing: -4px;
    margin-bottom: 0;
    color: transparent;
    font-weight: 400;
    background-clip: text;
}

.LAR-content-right img {
    width: 100%;
}

.LAR-content-left-title p {
    font-size: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #595959;
}

.LAR-signinup-button {
    display: flex;
    width: 100%;
}

.LAR-signin-button {
    padding: 0px 25px;
}

.LAR-forgot-pwd {
    padding: 20px 25px;
    line-height: 20px;
}

.LAR-footer {
    width: 100%;
    margin: auto;
    max-width: 1100px;
    display: block;
}

.LAR-footer-elements {
    display: flex;
    align-self: auto;
    text-align: left;
    justify-content: flex-start;
}

.LAR-footer-element-2 {
    padding: 0 50px;
}

.LAR-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.LAR-icon{
    display: none;
}

@media screen and (max-width:600px){
    .LAR-root{
        overflow: hidden;
    }

}


@media screen and (max-width: 600px) {

    .LAR-footer-element-2{
        display: none;
    }

    .LAR-footer-elements span:not(:first-child){
        margin: 0 auto;
    }

    .LAR-content-left-slogan-h1{
        font-size: 30px;
    }

    .LAR-icon{
        display: block;
        float: right;
        position: absolute;
        right: 0;
    }

    .LAR-icon-header{
        box-sizing: border-box;
        margin-top: 15px;
    }

    .LAR-header-right-ul1 li {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .LAR-header-right-ul1.responsive {
        position: relative;
    }

    .LAR-header-right-ul1.responsive .LAR-icon {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
    }
    .LAR-header-right-ul1.responsive li {
        float: none;
        display: block;
        text-align: left;
    }
}