.Register-root{
    overflow: initial;
    margin: 0;
    padding: 0;
}

.Register-header{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1100px;
    justify-content: center;
    display: block;
    height: 150px;
}

.Register-header-container{
    width: 100%;
    box-sizing: border-box;
    
}

.Register-header-container h1{
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    background-image:linear-gradient(83.84deg, #0088FF -6.87%, #A033FF 26.54%, #FF5C87 58.58%);
    background-clip: text;
    color: transparent;
    font-size: 45px;
}

.Register-paper{
    display: 'flex';
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

.Register-avatar{
    margin: auto;
}

.Register-avatar{
    width: 70px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Register-paper h1{
    text-align: center;
    margin-top: 25px;
    /* background-color: -webkit-linear-gradient(#eee, #333);
    background-clip: text; */
    color: rgba(0, 0, 0, 0.603);

}

.Register-form{
    width: 100%;
    margin-top: 20px;
}

.Register-submit{
    padding-top: 20px;
}

.Register-footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.Register-hasaccount{
    padding-top: 15px;
}

@media screen and (max-width:600px){
    .Register-root{
        overflow: hidden;
    }

}

@media screen and (max-width:600px){
    .Register-header-container h1{
        font-size: 30px;
    }

    .Register-footer{
        position: relative;
    }
}

